@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300;400;500;600&display=swap');

:root {
    /* Colors */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-red: #df3045;
    --color-blue: #009cb1;
    --color-green: #adbf24;
    --color-purple: #541e57;
    --color-brown-dark: #ba9779;
    --color-brown-light: #deb693;

    /* Fonts */
    --ff-primary: 'Open Sans', sans-serif;
    --ff-secondary: 'Anton', sans-serif;
    --ff-heading: (var(--ff-secondary));
    --ff-body: (var(--ff-primary));

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
}

/* Reset/ Base Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: var(--ff-primary); 
    font-size: 100%;
}

/* Navigation */
header {
    background-color: var(--color-purple);
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 60px;
    height: auto;
}
.primary-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-inline: 20px;
}
.sketchbook-group {
    display: flex;
    align-items: center;
}
.sketchbook-icon {
    width: 50px;
    height: auto;
}
.nav-list {
    list-style: none;
}
.nav-link {
    color: var(--color-white);
    text-decoration: none;
}
.nav-link p {
    display: none;
    font-weight: 400;
    font-size: 16px;
}

/* Homepage Text Section */
.container {
   --max-width: 1110px;
   --container-padding: 2em;
   width: min(var(--max-width), 100% - (var(--container-padding) * 2));
   margin-inline: auto;
}
section {
    margin-block: 20px;
}
h1 {
    font-family: var(--ff-secondary);
    font-size: 36px;
    letter-spacing: 3px;
}
h2 {
    font-size: 28px;
    font-weight: var(--fw-light);
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.dividers-green {
    background-color: var(--color-green);
}
.greenDivider1 {
    width: 205px;
    height: 16px;
}
.floor-sm {
    background-color: var(--color-brown-dark);
    height: 15px;
    width: 100vw;
}
.floor-lg {
    background-color: var(--color-brown-light);
    height: 80px;
    width: 100vw;
}
.home-text {
    margin-top: 20px;
    font-size: 16px;
    font-weight: var(--fw-semibold);
}

/* Home Image */
.home-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Start Arrow */
.start-btn {
    background-color: var(--color-purple);
    color: var(--color-white);
    font-family: var(--ff-secondary);
    letter-spacing: 3px;
    font-size: 20px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 60px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.floor-background {
    position: relative;
    bordeR: 1px solid red;
}


/* Media Queries */

/* Tablet SM*/
@media (min-width: 40em) and (max-width: 56em) {
    .container {
        --container-padding: 4em;
     }
     section {
        margin-block: 50px;
    }
    header {
        height: 90px;
    }
    .logo {
        width: 90px;
    }
    .sketchbook-icon {
        width: 80px;
    }
    h1 {
        font-size: 58px;
    }
    h2 {
        font-size: 40px;
    }
    .home-image {
        width: 550px;
        height: auto;
        margin-top: 20px;
    }
    .img_center {
        display: flex;
        justify-content: center;
    }
    .start-btn {
        font-size: 24px;
        width: 200px;
        height: 60px;
    }
    .floor-lg {
        height: 100px;
    }
}
/* Tablet LG */
@media (min-width: 56em) and (max-width:65em) {
    .container {
        --container-padding: 5.5em;
     }
     section {
        margin-block: 50px;
    }
    header {
        height: 110px;
    }
    .logo {
        width: 110px;
    }
    .sketchbook-icon {
        width: 90px;
    }
    h1 {
        font-size: 62px;
    }
    h2 {
        font-size: 44px;
    }
    .home-text {
        font-size: 20px;
        font-weight: var(--fw-semibold);
    }
    .home-image {
        width: 650px;
        height: auto;
        margin-top: 20px;
    }
    .img_center {
        display: flex;
        justify-content: center;
    }
    .start-btn {
        font-size: 26px;
        width: 220px;
        height: 80px;
    }
    .floor-lg {
        height: 80%;
    }
}
